*{
	
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
body{
	border: none;
}
.logo{
	width: 10px;
	height: 10px
	background:red;
	border-radius: 100%;
}
.tem{
	width: 	20px;
	height: 	20px;
}
.container{
	width: 90%;
	height: 1100px;
	display: grid;
	grid-template-rows: 2fr repeat(7,1fr) 2fr 2fr 1fr 1fr 3fr 1fr 2fr 2fr 1fr 1fr 2fr 1fr 4fr 2fr 4fr    2fr 2fr 2fr 4fr 2fr 2fr 2fr 5fr 2fr;
	grid-template-columns: repeat(30,1fr);
	margin: 0 auto;
	border: none;
}
.item34{
	grid-row: 2/5;
	grid-column: 1/7;
	border: none;
	position: sticky;
}
.item2{
	grid-row: 3/4;
	grid-column: 10/12;
	border: none;
	color: black;
	text-decoration: none;

}
.item3{
	grid-row: 3/4;
	grid-column: 14/16;
	border: none;
	text-decoration: none;
	color: black;
}
.item4{
	grid-row: 3/4;
	grid-column: 18/20;
	border: none;
	text-decoration: none;
	color: black;
}

.item6{
	grid-row: 3/4;
	grid-column: 22/24;
	border: none;
	text-decoration: none;
	color: black;
}
.item7{
	grid-row: /;
	grid-column: /; 
}
.item8{
	grid-row: 3/4;
	grid-column: 29/30;
}
.item9{
	grid-row: 3/4;
	grid-column: 30/31;
}
.item10{
	grid-row: 6/8;
	grid-column: 1/7; 
	border: none;
	position: sticky;
}
.item11{
	grid-row: 7/9;
	grid-column: 7/11;
	background: orange;
	font-size: 15pt;
	border: none;
}
.item12{
	grid-row: 8/9;
	grid-column: 11/15;
	border: none;
}
.item13{
	grid-row: 12/18;
	grid-column: 2/6;
	height: 160px;
	width: 160px;
	position: sticky;
}

.item14{
	grid-row: 10/11;
	grid-column: 10/18;
	border: none;
}
.item15{
	grid-row: 10/11;
	grid-column: 16/25;
	border: none;
}
.item16{
	grid-row: 12/14;
	grid-column: 10/18;
	text-align: start;
	border: none;
}
.item17{
	grid-row: 13/16;
	grid-column: 21/29;
	background: lightblue;
}
.item18{
	grid-row: 15/17;
	grid-column: 10/18;
	text-align: start;
	border: none;
}
.item19{
	grid-row: 15/17;
	grid-column: 20/22;
	border: none;
}
.item20{
	grid-row: 16/17;
	grid-column: 22/25;
	border: none;
}
.item21{
	grid-row: 19/20;
	grid-column: 10/13;
	border: none;
}
.item22{
	grid-row: 21/22;
	grid-column: 11/14;
	border: none;
}
img{
	width: 60px;
	height: 60px;
	border: none;
}
.item23{
	grid-row: 21/22;
	grid-column: 15/18;
	border: none;
}
.item24{
	grid-row: 21/22;
	grid-column: 19/22;
	border: none;
}
.item25{
	grid-row: 21/22;
	grid-column: 24/27;
	border: none;
}
.item26{
	grid-row: 22/23;
	grid-column: 11/14;
	border: none;
}
.item27{
	grid-row: 22/23;
	grid-column: 15/18;
	border: none;
}
.item28{
	grid-row: 22/23;
	grid-column: 19/22;
	border: none;
}
.item29{
	grid-row: 22/23;
	grid-column: 24/27;
	border: none;
}
.item30{
	grid-row: 23/24;
	grid-column: 11/14;
	border: none;
}
.item31{
	grid-row: 23/24;
	grid-column: 15/18;
	border: none;
}
.item32{
	grid-row: 23/24;
	grid-column: 19/22;
	border: none;
}
.item33{
	grid-row: 23/24;
	grid-column: 24/27;
	border: none;
}
.item1{
	grid-row: 1/24;
	grid-column: 1/7;
	background: lightblue;
	border: none;
	position: sticky;
}
b{
	border: none;
}

.item35{
	grid-row: 24/25;
	grid-column: 9/12;
	background:;
	border: none;
}
.item36{
	grid-row: 27/28;
	grid-column: 10/16;
	background:;
	border: none;
}
.item366{
	width:100%;
	height: 40px;
}
.item37{
	grid-row: 27/28;
	grid-column: 13/15;
	background:;
	border: none;
}
.item38{
	grid-row: 27/28;
	grid-column: 16/20;
	background:;
	border: none;
}
.item388{

}
.item39{
	grid-row:27/28;
	grid-column: 19/21;
	background:;
	border: none;
}
.item40{
	grid-row: 27/28;
	grid-column: 22/24;
	background:;
	border: none;
}
.item41{
	grid-row: 27/28;
	grid-column: 25/27;
	background:;
	border: none;
}
.item42{
	grid-row: 27/28;
	grid-column: 28/30;
	background:;
	border: none;
}
.item43{
	grid-row: 28/29;
	grid-column: 9/12;
	background:;
	border: none;
}
.item44{
	grid-row: 30/31;
	grid-column: 10/13;
	background:;
	border: none;
}
.item45{
	grid-row: 31/32;
	grid-column: 10/13;
	background:;
	border: none;
}
.item46{
	grid-row: 30/31;
	grid-column: 16/19;
	background:;
	border: none;
}
.item47{
	grid-row: 31/32;
	grid-column: 16/19;
	background:;
	border: none;
}
.item48{
	grid-row: 30/31;
	grid-column: 22/25;
	background:;
	border: none;
}
.item49{
	grid-row: 31/32;
	grid-column:22/25;
	background:;
	border: none;
}
.item50{
	grid-row: 30/31;
	grid-column: 28/31;
	background:;
	border: none;
}
.item51{
	grid-row: 31/32;
	grid-column: 28/31;
	background:;
	border: none;
}



.containen{
	width: 90%;
	height: 650px;
	display: grid;
	grid-template-rows: 2fr repeat(7,1fr) 2fr 2fr repeat(3,1fr) 3fr 1fr repeat(2,2fr) 2fr 1fr 2fr 1fr 3fr repeat(2,2fr);
	grid-template-columns: repeat(30,1fr);
	margin: 0 auto;
	border: none;
}
.iten36{
	grid-column: 1/7;
	grid-row: 2/5;
	border: none;
}
.iten2{
	grid-column: 10/12;
	grid-row: 3/4;
	border: none;
	text-decoration: none;
	color: black;
	border: none;
}
.iten3{
	grid-column: 14/16;
	grid-row: 3/4;
	border: none;
	text-decoration: none;
	color: black;
}
.iten4{
	grid-column: 18/20;
	grid-row: 3/4;
	border: none;
	text-decoration: none;
	color: black;
}

.iten6{
	grid-column: 22/24;
	grid-row: 3/4;
	border: none;
	text-decoration: none;
	color: black;
}
.iten7{
	grid-column: 29/30;
	grid-row: 3/4;
}
.iten8{
	grid-column: 30/31;
	grid-row: 3/4;
}
.iten9{
	grid-column: 1/7;
	grid-row: 6/8;
	border: none;
}
.iten10{
	grid-column: 7/11;
	grid-row: 7/9;
	background: orange;
	font-size: 15pt;
	border: none;
}
.iten11{
	grid-column: 11/15;
	grid-row: 8/9;
	border: none;
}
.iten12{
	grid-column: 2/6;
	grid-row: 12/18;
}
.iten13{
	grid-column: 10/14;
	grid-row: 10/11;
	text-align: start;
	border: none;
}
.iten14{
	grid-column: 10/14;
	grid-row: 11/13;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten15{
	grid-column: 10/17;
	grid-row: 13/15;
	text-align: start;
	border: none;
}
.iten16{
	grid-column: 10/14;
	grid-row: 16/17;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten17{
	grid-column: 10/17;
	grid-row: 17/19;
	text-align: start;
	border: none;
}
.iten18{
	grid-column: 10/14;
	grid-row: 20/21;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten19{
	grid-column: 10/17;
	grid-row: 21/23;	
	text-align: start;
	border: none;
}
.iten20{
	grid-column: 17/21;
	grid-row: 10/11;
	text-align: start;
	border: none;
}
.iten21{
	grid-column: 17/21;
	grid-row: 11/13;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten22{
	grid-column: 17/24;
	grid-row: 13/15;
	text-align: start;
	border: none;
}
.iten23{
	grid-column: 17/21;
	grid-row: 16/17;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten24{
	grid-column: 17/24;
	grid-row: 17/19;
	text-align: start;
	border: none;
}
.iten25{
	grid-column: 17/21;
	grid-row: 20/21;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten26{
	grid-column: 17/24;
	grid-row: 21/23;
	border: none;
}
.iten27{
	grid-column: 24/28;
	grid-row: 10/11;
	border: none;
}
.iten28{
	grid-column: 24/31;
	grid-row: 11/14;
	border: none;
}
.iten29{
	grid-column: 24/31;
	grid-row: 14/15;
	border: none;
}
.iten30{
	grid-column: 24/31;
	grid-row: 15/17;
	border: none;
}
.iten31{
	grid-column: 24/31;
	grid-row: 17/18;
	border: none;
}
.iten32{
	grid-column: 24/31;
	grid-row: 18/20;
	border: none;
}
.iten33{
	grid-column: 24/31;
	grid-row: 20/22;
	border: none;
}
.iten34{
	grid-column: 24/31;
	grid-row: 22/23;
	border: none;
}
.iten35{
	grid-column: 10/15;
	grid-row: 24/25;
	border: none;
}
.iten1{
	grid-column: 1/7;
	grid-row: 1/35;
	background: lightblue;
	border: none;
}
.box1{
	width: 70%;
	height: 1%;
	background: yellow;
}
.containemrs{
	width: 90%;
	height: 650px;
	display: grid;
	grid-template-rows: 2fr repeat(7,1fr) 3fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 3fr 1fr 2fr;
	grid-template-columns: repeat(30,1fr);
	margin: 0 auto;
	border: none;
}
.itemn25{
	grid-column: 1/7;
	grid-row: 2/5;
	border: none;
}
.itemn2{
	grid-column: 10/12;
	grid-row: 3/4;
	text-decoration: none;
	color: black;
	border: none;
}
.itemn3{
	grid-column: 14/16;
	grid-row: 3/4;
	text-decoration: none;
	color: black;
	border: none;
}
.itemn4{
	grid-column: 18/20;
	grid-row: 3/4;
	text-decoration: none;
	color: black;
	border: none;
}
.itemn6{
	grid-column: 22/24;
	grid-row: 3/4;
	text-decoration: none;
	color: black;
	border: none;
}
.itemn7{
	grid-column: 29/30;
	grid-row: 3/4;
}
.itemn8{
	grid-column: 30/31;
	grid-row: 3/4;
}
.itemn9{
	grid-column: 1/7;
	grid-row: 6/8;
}
.itemn10{
	grid-column: 7/11;
	grid-row: 7/9;
	background: orange;
	font-size: 15pt;
	border: none;
}
.itemn11{
	grid-column: 11/15;
	grid-row: 8/9;
	border: none;
}
.itemn12{
	grid-column: 2/6;
	grid-row: 11/18;
}
.itemn13{
	grid-column: 10/13;
	grid-row: 10/11;
	border: none;
	text-align: center;
}
.itemn14{
	grid-column: 10/18;
	grid-row: 12/13;
	border: none;
	text-align: center;
}
.itemn15{
	grid-column: 10/15;
	grid-row: 14/15;
	border: none;
	text-align: center;
}
.itemn16{
	grid-column: 10/15;
	grid-row: 16/17;
	border: none;
	text-align: center;
}
.itemn17{
	grid-column: 10/15;
	grid-row: 18/19;
	border: none;
	text-align: center;
}
.itemn18{
	grid-column: 10/15;
	grid-row: 20/21;
	border: none;
	text-align: center;
}
.itemn19{
	grid-column: 19/22;
	grid-row: 10/11;
	border: none;
	text-align: center;
}
.itemn20{
	grid-column: 19/31;
	grid-row: 12/13;
}
.itemn21{
	grid-column: 19/31;
	grid-row: 14/15;
}
.itemn22{
	grid-column: 19/31;
	grid-row: 16/20;
}
.itemn23{
	grid-column: 19/23;
	grid-row: 21/22;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}
.itemn24{
	grid-column: 19/21;
	grid-row: 23/24;
	border: none;
}
.itemn1{
	grid-column: 1/7;
	grid-row: 1/24;
	background: lightblue;
	border: none;
}
.containermn{
	width: 90%;
	height: 650px;
	display: grid;
	grid-template-rows: 2fr repeat(8,1fr) 4fr 5fr 2fr 3fr 5fr 2fr 8fr ;
	grid-template-columns: repeat(30,1fr);
	margin: 0 auto;
	border: none;
}
.iter1{
	grid-row: 1/17;
	grid-column: 1/7;
	background: lightblue;
	color: black;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.iter25{
	grid-row: 2/5;
	grid-column: 1/7;
	border: none;
	color: black;
	text-decoration: none;
}
.iter2{
	grid-row: 3/4;
	grid-column: 10/12;
	border: none;
	color: black;
	text-decoration: none;

}
.iter3{
	grid-row: 3/4;
	grid-column: 14/16;
	border: none;
	text-decoration: none;
	color: black;
}
.iter4{
	grid-row: 3/4;
	grid-column: 18/20;
	border: none;
	text-decoration: none;
	color: black;
}
.iter6{
	grid-row: 3/4;
	grid-column: 22/24;
	border: none;
	text-decoration: none;
	color: black;
}
.iter7{
	grid-row: 3/4;
	grid-column: 29/30;
}
.iter8{
	grid-row: 3/4;
	grid-column: 30/31;
}
.iter9{
	grid-row: 6/8;
	grid-column: 1/7;
	border: none;
}
.iter10{
	grid-row: 7/9;
	grid-column: 7/11;
	background: orange;
	font-size: 15pt;
}
.iter11{
	grid-row: 8/9;
	grid-column: 11/15;
	border: none;
}
.iter12{
	grid-row: 11/14;
	grid-column: 2/6;
}
.iter13{
	grid-row: 10/12;
	grid-column: 10/14;
	background: green;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iter14{
	grid-row: 10/12;
	grid-column: 15/19;
	background: yellow;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iter15{
	grid-row: 10/12;
	grid-column: 20/24;
	background: red;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iter16{
	grid-row: 10/12;
	grid-column: 25/29;
	display: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iter17{
	grid-row: 13/15;
	grid-column: 10/14;
	background: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iter18{
	grid-row: 13/15;
	grid-column: 15/19;
	background: lightblue;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iter19{
	grid-row: 13/15;
	grid-column: 20/24;
	background: orange;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iter20{
	grid-row: 13/15;
	grid-column: 25/29;
	display: none;
}
.iter21{
	grid-row: 16/17;
	grid-column: 10/14;
	display: none;
}
.iter22{
	grid-row: 16/17;
	grid-column: 15/19;
	display: none;
}
.iter23{
	grid-row: 16/17;
	grid-column: 20/24;
	display: none;
}
.iter24{
	grid-row: 16/17;
	grid-column: 25/29;
	display: none;
}

.lol{
	width:20%;
	height: 100%;
}
input{
	width:100%;
	height: 100%;
}
.itemn13{
	border-bottom: 2px solid orange;
}
.itemn19{
	border-bottom: 2px solid orange;
}
.item2:hover {
	border-bottom: 2px solid orange;
}
.item3:hover {
	border-bottom: 2px solid orange;
}
.item4:hover {
	border-bottom: 2px solid orange;
}
.item5:hover {
	border-bottom: 2px solid orange;
}
.item6:hover {
	border-bottom: 2px solid orange;
}
.item4:hover {
	border-bottom: 2px solid orange;
}
.iten2:hover {
	border-bottom: 2px solid orange;
}
.iten3:hover {
	border-bottom: 2px solid orange;
}
.iten4:hover {
	border-bottom: 2px solid orange;
}
.iten5:hover {
	border-bottom: 2px solid orange;
}
.iten6:hover {
	border-bottom: 2px solid orange;
}
.itemn2:hover {
	border-bottom: 2px solid orange;
}
.itemn3:hover {
	border-bottom: 2px solid orange;
}
.itemn4:hover {
	border-bottom: 2px solid orange;
}
.itemn5:hover {
	border-bottom: 2px solid orange;
}
.itemn6:hover {
	border-bottom: 2px solid orange;
}
@media (max-width: 500px) {
.container{
	width: 500px;
	height: 1200px;
	grid-template-columns: repeat(29, 1fr);
	grid-template-rows: 1fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 3fr 1fr 2fr 2fr 1fr 1fr 6fr 2fr repeat(3,1fr) 3fr repeat(3,1fr) 3fr 1fr;
}
.item34{
	grid-row: 2/3;
	grid-column: 1/29;
	border: none;
}
.item2{
	grid-row: 7/8;
	grid-column: 1/4;
	border: none;
	color: black;
	text-decoration: none;

}
.item3{
	grid-row: 7/8;
	grid-column: 6/10;
	border: none;
	text-decoration: none;
	color: black;
}
.item4{
	grid-row: 7/8;
	grid-column: 11/15;
	border: none;
	text-decoration: none;
	color: black;
}

.item6{
	grid-row: 7/8;
	grid-column: 16/20;
	border: none;
	text-decoration: none;
	color: black;
}
.item7{
	grid-row: /;
	grid-column: /; 
}
.item8{
	grid-row: 7/8;
	grid-column: 21/25;
}
.item9{
	grid-row: 7/8;
	grid-column: 26/30;
}
.item10{
	grid-row: 4/5;
	grid-column: 4/12; 
	border: none;
	position: sticky;
}
.item11{
	grid-row: 9/10;
	grid-column: 1/7;
	background: orange;
	font-size: 15pt;
	border: none;
}
.item12{
	grid-row: /;
	grid-column: /;
	border: none;
}
.item13{
	grid-row: 1/6;
	grid-column: 18/27;
	height: 160px;
	width: 160px;
	position: sticky;
}

.item14{
	grid-row: 11/13;
	grid-column: 4/15;
	border: none;
}
.item15{
	grid-row: 11/12;
	grid-column: 16/25;
	border: none;
}
.item16{
	grid-row: 14/15;
	grid-column: 4/15;
	text-align: start;
	border: none;
}
.item17{
	grid-row: 13/16;
	grid-column: 21/29;
	background: lightblue;
}
.item18{
	grid-row: 15/17;
	grid-column: 4/15;
	text-align: start;
	border: none;
}
.item19{
	grid-row: 15/17;
	grid-column: 20/22;
	border: none;
}
.item20{
	grid-row: 16/17;
	grid-column: 22/25;
	border: none;
}
.item21{
	grid-row: 18/19;
	grid-column: 2/7;
	border: none;
}
.item22{
	grid-row: 20/21;
	grid-column: 2/9;
	border: none;
}
img{
	width: 60px;
	height: 60px;
	border: none;
}
.item23{
	grid-row: 20/21;
	grid-column: 10/16;
	border: none;
}
.item24{
	grid-row: 20/21;
	grid-column: 17/23;
	border: none;
}
.item25{
	grid-row: 20/21;
	grid-column: 24/30;
	border: none;
}
.item26{
	grid-row: 21/22;
	grid-column: 2/9;
	border: none;
}
.item27{
	grid-row: 21/22;
	grid-column: 10/16;
	border: none;
}
.item28{
	grid-row: 21/22;
	grid-column: 17/23;
	border: none;
}
.item29{
	grid-row: 21/22;
	grid-column: 24/30;
	border: none;
}
.item30{
	grid-row: 23/24;
	grid-column: 11/14;
	border: none;
}
.item31{
	grid-row: 23/24;
	grid-column: 15/18;
	border: none;
}
.item32{
	grid-row: 23/24;
	grid-column: 19/22;
	border: none;
}
.item33{
	grid-row: 23/24;
	grid-column: 24/27;
	border: none;
}
.item1{
	grid-row: 1/6;
	grid-column: 1/29;
	background: lightblue;
	border: none;
}
.item35{
	grid-row: 23/24;
	grid-column: 2/7;
	background:;
	border: none;
}
.item36{
	grid-row: 25/26;
	grid-column: 3/6;
	background:;
	border: none;
}
.item366{
	width:100%;
	height: 40px;
}
.item37{
	grid-row: 25/26;
	grid-column: 7/10;
	background:;
	border: none;
}
.item38{
	grid-row: 25/26;
	grid-column: 11/14;
	background:;
	border: none;
}
.item388{

}
.item39{
	grid-row:25/26;
	grid-column: 15/18;
	background:;
	border: none;
}
.item40{
	grid-row: 25/26;
	grid-column: 19/22;
	background:;
	border: none;
}
.item41{
	grid-row: 25/26;
	grid-column: 23/26;
	background:;
	border: none;
}
.item42{
	grid-row: 25/26;
	grid-column: 27/30;
	background:;
	border: none;
}
.item43{
	grid-row: 27/28;
	grid-column: 2/7;
	background:;
	border: none;
}
.item44{
	grid-row: 29/30;
	grid-column: 3/9;
	background:;
	border: none;
}
.item45{
	grid-row: 30/31;
	grid-column: 3/9;
	background:;
	border: none;
}
.item46{
	grid-row: 29/30;
	grid-column: 10/16;
	background:;
	border: none;
}
.item47{
	grid-row: 30/31;
	grid-column: 10/16;
	background:;
	border: none;
}
.item48{
	grid-row: 29/30;
	grid-column: 17/23;
	background:;
	border: none;
}
.item49{
	grid-row: 30/31;
	grid-column:17/23;
	background:;
	border: none;
}
.item50{
	grid-row: 29/30;
	grid-column: 24/30;
	background:;
	border: none;
}
.item51{
	grid-row: 30/31;
	grid-column: 24/30;
	background:;
	border: none;
}
.containen{
	width: 90%;
	height: 650px;
	display: grid;
	grid-template-rows: 1fr 2fr 2fr 2fr repeat(4,1fr) 2fr 1fr 2fr 2fr 4fr 1fr 2fr 4fr 1fr 2fr 4fr 1fr 2fr repeat(3,3fr);
	grid-template-columns: repeat(29,1fr);
	margin: 0 auto;
	border: none;
}
.iten36{
	grid-column: 4/12;
	grid-row: 2/3;
	border: none;
}
.iten2{
	grid-column: 1/5;
	grid-row: 7/8;
	border: none;
	text-decoration: none;
	color: black;
	border: none;
}
.iten3{
	grid-column: 6/10;
	grid-row: 7/8;
	border: none;
	text-decoration: none;
	color: black;
}
.iten4{
	grid-column: 11/15;
	grid-row: 7/8;
	border: none;
	text-decoration: none;
	color: black;
}

.iten6{
	grid-column: 16/20;
	grid-row: 7/8;
	border: none;
	text-decoration: none;
	color: black;
}
.iten7{
	grid-column: 21/25;
	grid-row: 7/8;
}
.iten8{
	grid-column: 26/30;
	grid-row: 7/8;
}
.iten9{
	grid-column: 4/12;
	grid-row: 4/5;
	border: none;
}
.iten10{
	grid-column: 1/7;
	grid-row: 9/10;
	background: orange;
	font-size: 15pt;
	border: none;
}
.iten11{
	grid-column: 7/8;
	grid-row: 9/10;
	border: none;
}
.iten12{
	grid-column: 18/27;
	grid-row: 1/6;
}
.iten13{
	grid-column: 2/10;
	grid-row: 11/12;
	text-align: start;
	border: none;
}
.iten14{
	grid-column: 2/8;
	grid-row: 12/13;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten15{
	grid-column: 2/16;
	grid-row: 13/14;
	text-align: start;
	border: none;
}
.iten16{
	grid-column: 2/8;
	grid-row: 15/16;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten17{
	grid-column: 2/16;
	grid-row: 16/17;
	text-align: start;
	border: none;
}
.iten18{
	grid-column: 2/8;
	grid-row: 18/19;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten19{
	grid-column: 2/16;
	grid-row: 19/20;	
	text-align: start;
	border: none;
}
.iten20{
	grid-column: 16/24;
	grid-row: 11/12;
	text-align: start;
	border: none;
}
.iten21{
	grid-column: 16/22;
	grid-row: 12/13;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten22{
	grid-column: 16/30;
	grid-row: 13/14;
	text-align: start;
	border: none;
}
.iten23{
	grid-column: 16/22;
	grid-row: 15/16;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten24{
	grid-column: 16/30;
	grid-row: 16/17;
	text-align: start;
	border: none;
}
.iten25{
	grid-column: 16/22;
	grid-row: 18/19;
	text-align: start;
	font-size: 13.5pt;
	border: none;
	background: orange;
	border-left: 10px solid darkgreen;
}
.iten26{
	grid-column: 16/30;
	grid-row: 19/20;
	border: none;
}
.iten27{
	grid-column: 2/9;
	grid-row: 21/22;
	border: none;
}
.iten28{
	grid-column: 2/16;
	grid-row: 22/23;
	border: none;
}
.iten29{
	grid-column: 2/16;
	grid-row: 23/24;
	border: none;
}
.iten30{
	grid-column: 2/16;
	grid-row: 24/25;
	border: none;
}
.iten31{
	grid-column: 16/24;
	grid-row: 21/22;
	border: none;
}
.iten32{
	grid-column: 16/30;
	grid-row: 22/23;
	border: none;
}
.iten33{
	grid-column: 16/30;
	grid-row: 23/24;
	border: none;
}
.iten34{
	grid-column: 16/30;
	grid-row: 24/25;
	border: none;
}
.iten35{
	grid-column: 10/15;
	grid-row: 24/25;
	border: none;
	display: none;
}
.iten1{
	grid-column: 1/30;
	grid-row: 1/6;
	background: lightblue;
	border: none;
}
.box1{
	width: 70%;
	height: 1%;
	background: yellow;
}
}